<div class="row col-12" style="margin-top: 90px;">
    <h4>Blog Admin</h4>
    <div class="card bg-dark bg-gradient text-light">
        <div class="card-body">
            <div class="row">
                <!-- <div class="col-6 text-start">
                    <label class="form-label">Search Blogs</label>
                    <input type="text" class="form-control">
                </div> -->
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-dark text-light">New Blog +</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-start"  style="overflow-y: scroll; max-height: 780px;">
                    <label class="form-label">Published Blogs</label>
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Published Date</th>
                            <th>Edit / Delete</th>
                        </tr>
                        <tr *ngFor="let blog of blogs">
                            <td class="text-light">{{blog.title}}</td>
                            <td class="text-light">{{blog.postDate | date:'fullDate'}}</td>
                            <td ><button class="btn btn-primary text-dark" (click)="editBlog(blog.blogId)" style="background-color: white;">Edit Post</button>
                                <button class="btn btn-primary text-dark m-1" style="background-color: white;">Delete Post</button></td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
