
/* Provide sufficient contrast against white background */
body {
  background-color: rgb(233, 233, 233) !important;
}

div.scrollable {
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar in Chrome, Safari and Edge */
div.scrollable::-webkit-scrollbar {
  display: none;
}
