
/* Provide sufficient contrast against white background */
body {
  background-color: rgb(233, 233, 233) !important;
}

:root {
  font-size: clamp(12px, 0.5vw + 12px, 16px);
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}



div.scrollable {
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar in Chrome, Safari and Edge */
div.scrollable::-webkit-scrollbar {
  display: none;
}


.sharing-bar {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.share-btn:hover {
  background-color: #333;
}

.share-btn .share-text {
  display: none;
}

.fa-facebook {
  background-color: #3b5998;
}

.fa-twitter {
  background-color: #00aced;
}

.fa-linkedin {
  background-color: #007bb6;
}

.blog-body pre {
  background-color: #2c2c2c !important;
  color: rgb(233, 248, 255) !important;
  padding: 16px;
  padding-left: 20px;
  border-radius: 4px;
}
.blog-body pre code {
  margin-left: 20px;
}