<div class="row d-flex justify-content-center bg-dark bg-gradient text-light rounded p-4" style="margin-top: 90px;">
    <div class="col-12">
        <h1>Khalil Warren </h1>
        <small>github: <a class="text-secondary"  style="text-decoration: underline;font-weight: 600;" href="https://github.com/Solesius">{{'@Solesius'}}</a></small>
        <p></p>
        <p>Hello and welcome to my blog! I'm a passionate programmer, always eager to learn new technologies and take on new challenges. I have experience in a variety of programming languages, including  C#, .NET Core, Java, Scala, Rust, Python, React, Angular, Typescript, HTML, CSS, SASS, SQL, and sometimes c++, and I'm always looking for ways to improve my skills.</p>
        <p>When I'm not coding, I enjoy spending time with my family, playing cello, and reading technical materials. </p>
        <p>I'm a firm believer in the power of collaboration and teamwork, and I'm always happy to help out my fellow programmers when they're in need.</p>
        <p>Don't hesitate to reach out and thanks for stopping by!</p>
        <div>Personal: <a class="text-secondary" style="text-decoration: underline;font-weight: 600;" href="mailto:warrenk9044@gmail.com">{{'warrenk9044_gmail.com'}}</a></div>
        <div>Business Inquiries & Consulting: <a class="text-secondary" style="text-decoration: underline;font-weight: 600;" href="mailto:kwarren@lambdamutech.net">{{'kwarren_lambdamutech.net'}}</a></div>
        
    </div>

</div>
