<div class="row d-flex justify-content-center bg-dark bg-gradient text-light rounded p-4" style="margin-top: 90px;">
    <div class="col-12">
        <h1>Khalil Warren </h1>
        <small>github: <a class="text-secondary"  style="text-decoration: underline;font-weight: 600;" href="https://github.com/Solesius">{{'@Solesius'}}</a></small>
        <p></p>
        <p>
            Passionate Software Engineer, find my ramblings on many things here.
        </p>
        <p>
            C#, .NET Core, Java, Scala, Rust, Python, React, Angular, Typescript, HTML, CSS, SASS, SQL, and sometimes c++.
        </p>
    
        <div>Personal: <a class="text-secondary" style="text-decoration: underline;font-weight: 600;" href="mailto:warrenk9044@gmail.com">{{'warrenk9044_gmail.com'}}</a></div>
        <div>Business Inquiries & Consulting: <a class="text-secondary" style="text-decoration: underline;font-weight: 600;" href="mailto:kwarren@lambdamutech.net">{{'kwarren_lambdamutech.net'}}</a></div>
        
    </div>

</div>
