<div class="row col-12 bg-dark bg-gradient text-light rounded p-4" style="margin-top: 90px;">
    <h1>Khalil Warren </h1>
    <small>github: <a  style="color: white !important;text-decoration: underline;font-weight: 600;" href="https://github.com/Solesius">{{'@Solesius'}}</a></small>
    <p></p>
    <p>
        Passionate Software Engineer, find my ramblings on many things here.
    </p>
    <p>
        C#, .NET Core, Java, Scala, Rust, Python, React, Angular, Typescript, HTML, CSS, SASS, SQL, and sometimes c++.
    </p>
    
</div>
